<!DOCTYPE html>
<html>
<head>
	<title>REDDIT CLASSIFIER</title>
</head>
<body>
	<h1>Enter the URL to a Reddit Post here</h1>
	<form method='post' enctype=multipart/form-data>
    	<label for="URL_For_Post">Link to your Reddit Post
    	</label>
    	
    	<input type="url" id="URL_For_Post" name="URL_For_Post" 
    	value="reddit.com">
    	<br><br>
    	
    	
    	
    	
    	<button type="button" onclick="muFunction()">Submit</button>
    	
    	
    	
    	
    	<script>
    	function myFunction(){
    	var x=document.getElementById("URL_For_Post")
    	resp=request.get(x)
    	print(resp.text)
    	
    	<input type="submit" value="upload">
    	
    	}
    	</script>
    	
    	
</body>
</html>

<input type="email" class="form-control">


W# schools mein read how to get URL
